<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841125010072-na3b3avh0mfic41tiu5ngmvs36rt0sk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841125010072-na3b3avh0mfic41tiu5ngmvs36rt0sk1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>841125010072-cpf2mta7gg14d1ohv38tfsdgatla0rfg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEVTNunoZ9V8M4E0c7tOYKvYM3-gjwtQc</string>
	<key>GCM_SENDER_ID</key>
	<string>841125010072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Apex.QuizGame</string>
	<key>PROJECT_ID</key>
	<string>swipequiz-58284</string>
	<key>STORAGE_BUCKET</key>
	<string>swipequiz-58284.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841125010072:ios:e8c865a04618b1bef64eed</string>
	<key>DATABASE_URL</key>
	<string>https://swipequiz-58284-default-rtdb.firebaseio.com</string>
</dict>
</plist>